contribs/carsharing/src/main/resources/dtd/freefloating_areas_v1.dtd

<?xml version="1.0" encoding="utf-8"?>

<!-- ============================================================ -->


<!ELEMENT areas (company)*>

<!ELEMENT company (area)*>
<!ATTLIST company   name    CDATA #REQUIRED>

<!ELEMENT area (node)*>
<!ATTLIST area  id  	CDATA #REQUIRED>

<!ELEMENT node EMPTY>
<!ATTLIST node  x   	CDATA #REQUIRED
                y   	CDATA #REQUIRED>

<!-- ============================================================ -->
