contribs/carsharing/src/main/resources/dtd/relocation_times_v1.dtd

<?xml version="1.0" encoding="utf-8"?>

<!-- ============================================================ -->


<!ELEMENT relocationTimes (company)*>

<!ELEMENT company (relocationTime)*>
<!ATTLIST company   name    CDATA #REQUIRED>

<!ELEMENT relocationTime EMPTY>
<!ATTLIST relocationTime    start_time  CDATA #REQUIRED>

<!-- ============================================================ -->

