matsim/src/main/resources/dtd/objectattributes_v1.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT objectattributes      (object)*>

<!ELEMENT object (attribute)*>
<!ATTLIST object
          id        CDATA #REQUIRED>

<!ELEMENT attribute       (#PCDATA)>
<!ATTLIST attribute
          name        CDATA #REQUIRED
          class       CDATA #REQUIRED>
