matsim/src/playground/rost/graph/nodepopulation/defNodePopulationMap.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="PopulationForSingleNode">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="population" type="xs:int" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="NodePopulationList">
	  <xs:sequence>
	  	<xs:element name="PopulationForNode" type="PopulationForSingleNode" minOccurs="0" maxOccurs="unbounded"/>
	  </xs:sequence>
	</xs:complexType>
	
</xs:schema>




